<?xml version="1.0" encoding="UTF-8" ?>
  <passbookGenerator appleWWDRCACertificate="~/App_Data/AppleWWDRCA.cer">
  	<templates>
  		<template name="Event" passStyle="EventTicket" certificateThumbprint="8a633e7460af49e7bf196f4d4697229eccf6a6b3">
  			<description>My first pass</description>
  			<organizationName>Tomas McGuinness</organizationName>
  			<logoText>My Pass</logoText>

  			<backgroundColor>rgb(255,255,255)</backgroundColor>
  			<foregroundColor>rgb(0,0,0)</foregroundColor>

  			<primaryFields>
  				<field type="Standard" key="event" textAlignment="PKTextAlignmentRight">
  					<label>Event</label>
  				</field>
  				<field type="Standard" key="event-style" textAlignment="PKTextAlignmentRight">
  					<label>Event2</label>
            <value>Style</value>
  				</field>
  			</primaryFields>
  			<secondaryFields>
  				<field type="Date" key="doors-open" dateStyle="PKDateStyleMedium" timeStyle="PKDateStyleMedium">
  					<label>Doors Open</label>
  				</field>
  				<field type="Number" key="seating-section" numberStyle="PKNumberStyleSpellOut" textAlignment="PKTextAlignmentRight">
  					<label>Seating Section</label>
  				</field>
  			</secondaryFields>

   			<images>
   				<image type="Background" fileName="~/Icons/Event/background.png" />
   				<image type="Background2X" fileName="~/Icons/Event/background@2x.png" />
				<image type="Background3X" fileName="~/Icons/Event/background@3x.png" />
  				<image type="Icon" fileName="~/Icons/Event/icon.png" />
  				<image type="Icon2X" fileName="~/Icons/Event/icon@2x.png" />
				<image type="Icon3X" fileName="~/Icons/Event/icon@3x.png" />
  				<image type="Logo" fileName="~/Icons/Event/logo.png" />
				<image type="Logo2X" fileName="~/Icons/Event/logo@2x.png" />
				<image type="Logo3X" fileName="~/Icons/Event/logo@3x.png" />
   				<image type="Thumbnail" fileName="~/Icons/Event/thumbnail.png" />
				<image type="Thumbnail2X" fileName="~/Icons/Event/thumbnail@2x.png" />
				<image type="Thumbnail3X" fileName="~/Icons/Event/thumbnail@3x.png" />
  			</images>
  		</template>

    	<template name="BoardingPass" passStyle="BoardingPass" transitType="PKTransitTypeAir" certificateThumbprint="8a633e7460af49e7bf196f4d4697229eccf6a6b3">
        <passTypeIdentifier>pass.tomsamcguinness.boarding</passTypeIdentifier>
        <teamIdentifier>R5QS56362W</teamIdentifier>
        
        <description>My first pass</description>
        <organizationName>Tomas McGuinness</organizationName>
                        
  			<primaryFields>
  				<field type="Standard" key="origin">
  					<label>Origin</label>
  				</field>
  				<field type="Standard" key="destination">
  					<label>Destination</label>
  				</field>
  			</primaryFields>
  			<secondaryFields>
  				<field type="Standard" key="boarding-gate">
  					<label>Gate</label>
  				</field>
  			</secondaryFields>

  			<auxiliaryFields>
  				<field type="Standard" key="seat">
  					<label>Seat</label>
  				</field>
   				<field type="Standard" key="passenger-name">
  					<label>Passenger</label>
  				</field>
  			</auxiliaryFields>

        <backFields>
          <field type="Standard" key="PassbookGenerator" dataDetectorTypes="PKDataDetectorTypeLink">
            <label>dotnet-passbook</label>
            <value> </value>
            <attributedValue>This pass was generated using dotnet-passbook, a .NET library for generating iOS passbook packages.&#13;Find the open source project on &lt;a href="https://github.com/tomasmcguinness/dotnet-passbook"&gt;github&lt;a&gt;.</attributedValue>
          </field>
        </backFields>

        <images>
          <image type="Icon" fileName="~/Icons/icon.png" />
          <image type="Icon2X" fileName="~/Icons/icon@2x.png" />
          <image type="Icon3X" fileName="~/Icons/icon@3x.png" />
          <image type="Logo" fileName="~/Icons/logo.png" />
          <image type="Logo2X" fileName="~/Icons/logo@2x.png" />
          <image type="Logo3X" fileName="~/Icons/logo@3x.png" />
        </images>
  		</template>

   		<template name="Coupon" passStyle="Coupon" certificateThumbprint="8a633e7460af49e7bf196f4d4697229eccf6a6b3">
        <passTypeIdentifier>pass.tomsamcguinness.boarding</passTypeIdentifier>
        <teamIdentifier>R5QS56362W</teamIdentifier>

        <description>My first pass</description>
        <organizationName>Tomas McGuinness</organizationName>

        <logoText>Starbucks Discount Coupon</logoText>

        <associatedStoreIdentifiers>
          <storeIdentifier>551768476</storeIdentifier>
        </associatedStoreIdentifiers>

  			<primaryFields>
  				<field type="Number" key="discount" numberStyle="PKNumberStylePercent">
  					<label>Discount</label>
  					<value>0.05</value>
  				</field>
  			</primaryFields>
      
   			<images>
   				<image type="Background" fileName="~/Icons/Starbucks/background.png" />
				<image type="Background2X" fileName="~/Icons/Starbucks/background@2x.png" />
				<image type="Background3X" fileName="~/Icons/Starbucks/background@3x.png" />
  				<image type="Icon" fileName="~/Icons/Starbucks/icon.png" />
				<image type="Icon2X" fileName="~/Icons/Starbucks/icon@2x.png" />
				<image type="Icon3X" fileName="~/Icons/Starbucks/icon@3x.png" />
  				<image type="Logo" fileName="~/Icons/Starbucks/logo.png" />
				<image type="Logo2X" fileName="~/Icons/Starbucks/logo@2x.png" />
				<image type="Logo3X" fileName="~/Icons/Starbucks/logo@3x.png" />
  			</images>
  		</template>

  		<template name="Test" passStyle="StoreCard" transitType="PKTransitTypeAir" certificateThumbprint="8a633e7460af49e7bf196f4d4697229eccf6a6b3">

  			<!--- Standard Keys -->
  			<description>Passbook Test</description>
  			<organizationName>ACME Int.</organizationName>
  			<passTypeIdentifier>com.acme.sample.pass</passTypeIdentifier>
  			<teamIdentifier>A123456789</teamIdentifier>

  			<!--- Associated App Keys -->
  			<appLaunchURL>fb://profile</appLaunchURL>
  			<associatedStoreIdentifiers>
  				<storeIdentifier>284882215</storeIdentifier>
  			</associatedStoreIdentifiers>

  			<!--- Visual Appearance Keys -->
  			<backgroundColor>rgb(23, 187, 82)</backgroundColor>
  			<foregroundColor>rgb(100, 10, 110)</foregroundColor>
  			<groupingIdentifier>groupingIdentifier</groupingIdentifier>
  			<labelColor>rgb(255, 255, 255)</labelColor>
  			<logoText>Logo Text</logoText>
  			<suppressStripShine>false</suppressStripShine>

  			<!--- Web Service Keys -->
  			<authenticationToken>1234567890ABCDEF</authenticationToken>
  			<webServiceURL>https://localhost/api/</webServiceURL>

  			<headerFields>
   				<field type="Standard" key="HeaderField1">
  					<label>localized_header</label>
  					<value>Value</value>
  				</field>
  			</headerFields>
  			<primaryFields>
   				<field type="Standard" key="PrimaryField1" textAlignment="PKTextAlignmentRight">
  					<label>Primary</label>
  					<value>Value</value>
  				</field>
  			</primaryFields>
  			<secondaryFields>
   				<field type="Standard" key="SecondaryField1">
  					<label>Secondary #1</label>
  					<value>Value</value>
  				</field>  				
   				<field type="Standard" key="SecondaryField2">
  					<label>Secondary #2</label>
  					<value>Value</value>
  				</field>  				
  			</secondaryFields>
  			<auxiliaryFields>
  				<field type="Standard" key="AuxField1">
  					<changeMessage>change message</changeMessage>
  					<attributedValue>attributed value</attributedValue>
  					<label>Aux Field 1</label>
  				</field>
  			</auxiliaryFields>
  			<backFields>
  				<field type="Standard" key="BackField1" dataDetectorTypes="PKDataDetectorNone">
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 1</label>
  					<value>value</value>
  				</field>
  				<field type="Number" key="BackField2" numberStyle="PKNumberStyleSpellOut">
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 2</label>
  					<value>23</value>
  				</field>
   				<field type="Number" key="BackField3">
   					<currencyCode>EUR</currencyCode>
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 3</label>
  					<value>10.95</value>
  				</field>
   				<field type="Date" key="BackField4" dateStyle="PKDateStyleFull" ignoresTimeZone="true">
  					<label>Back Field 4</label>
  					<value>2015-12-31T08:33:10Z</value>
  				</field>
  			</backFields>

  			<images>
  				<image type="Icon" fileName="~/Icons/icon.png" />
				<image type="Icon2X" fileName="~/Icons/icon@2x.png" />
				<image type="Icon3X" fileName="~/Icons/icon@3x.png" />
  				<image type="Logo" fileName="~/Icons/logo.png" />
				<image type="Logo2X" fileName="~/Icons/logo@2x.png" />
				<image type="Logo3X" fileName="~/Icons/logo@3x.png" />
  			</images>

  			<localizations>
  				<language code="en">
  					<entry key="localized_header" value="Localized Header Value" />
  				</language>
  			</localizations>
  		</template>
  	</templates>
  </passbookGenerator>
