<?xml version="1.0" encoding="UTF-8" ?>
  <passbookGenerator appleCertificate="~/App_Data/AppleCertificate.crt">
  	<templates>
  		<template name="Test" passStyle="storeCard" transitType="PKTransitTypeAir" certificate="~/App_Data/PassCertificate.pfx" certificatePassword="MyPassword">
  			<!--- Standard Keys -->
  			<description>Passbook Test</description>
  			<organizationName>ACME Int.</organizationName>
  			<passTypeIdentifier>com.acme.sample.pass</passTypeIdentifier>
  			<teamIdentifier>A123456789</teamIdentifier>

  			<!--- Associated App Keys -->
  			<appLaunchURL>fb://profile</appLaunchURL>
  			<associatedStoreIdentifiers>
  				<storeIdentifier>284882215</storeIdentifier>
  			</associatedStoreIdentifiers>

  			<!--- Visual Appearance Keys -->
  			<backgroundColor>rgb(23, 187, 82)</backgroundColor>
  			<foregroundColor>rgb(100, 10, 110)</foregroundColor>
  			<groupingIdentifier>groupingIdentifier</groupingIdentifier>
  			<labelColor>rgb(255, 255, 255)</labelColor>
  			<logoText>Logo Text</logoText>
  			<suppressStripShine>false</suppressStripShine>

  			<!--- Web Service Keys -->
  			<authenticationToken>1234567890ABCDEF</authenticationToken>
  			<webServiceURL>https://localhost/api/</webServiceURL>

  			<headerFields>
   				<field type="Standard" key="HeaderField1">
  					<label>Header</label>
  					<value>Value</value>
  				</field>
  			</headerFields>
  			<primaryFields>
   				<field type="Standard" key="PrimaryField1" textAlignment="PKTextAlignmentRight">
  					<label>Primary</label>
  					<value>Value</value>
  				</field>
  			</primaryFields>
  			<secondaryFields>
   				<field type="Standard" key="SecondaryField1">
  					<label>Secondary #1</label>
  					<value>Value</value>
  				</field>  				
   				<field type="Standard" key="SecondaryField2">
  					<label>Secondary #2</label>
  					<value>Value</value>
  				</field>  				
  			</secondaryFields>
  			<auxiliaryFields>
  				<field type="Standard" key="AuxField1">
  					<changeMessage>change message</changeMessage>
  					<attributedValue>attributed value</attributedValue>
  					<label>Aux Field 1</label>
  				</field>
  			</auxiliaryFields>
  			<backFields>
  				<field type="Standard" key="BackField1" dataDetectorTypes="PKDataDetectorNone">
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 1</label>
  					<value>value</value>
  				</field>
  				<field type="Number" key="BackField2" numberStyle="PKNumberStyleSpellOut">
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 2</label>
  					<value>23</value>
  				</field>
   				<field type="Number" key="BackField3">
   					<currencyCode>EUR</currencyCode>
  					<attributedValue>attributed Value</attributedValue>
  					<label>Back Field 3</label>
  					<value>10.95</value>
  				</field>
   				<field type="Date" key="BackField4" dateStyle="PKDateStyleFull" ignoresTimeZone="true">
  					<label>Back Field 4</label>
  					<value>2015-12-31T08:33:10Z</value>
  				</field>
  			</backFields>

  			<images>
  				<image type="Icon">~/Icons/icon.png</image>
  				<image type="IconRetina">~/Icons/icon@2x.png</image>
  				<image type="Logo">~/Icons/logo.png</image>
  				<image type="LogoRetina">~/Icons/logo@x.png</image>
  			</images>
  		</template>
  	</templates>
  </passbookGenerator>