@{
    ViewBag.Title = "Index";
}

<h2>Passbook Pass Generator</h2>
@Html.ActionLink("Event Pass", "EventTicket", "Pass")
@Html.ActionLink("Boarding Card", "BoardingCard", "Pass")
@Html.ActionLink("Coupon", "Coupon", "Pass")
