@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Boarding Card";
}

<h2>Generate Boarding Card</h2>
<div id="qrcode"></div>

<script type="text/javascript">
    $("#qrcode").qrcode(
     { width: 125,
       height: 125,
       text: "@Request.Url.GetLeftPart(UriPartial.Authority)/api/passbook/download/pass.tomsamcguinness.travel/123456/20151231/d19ae032fa0d33bd1fa083aa39a75dc4fd36996b"
     });
</script>

<a href="@Request.Url.GetLeftPart(UriPartial.Authority)/api/passbook/download/pass.tomsamcguinness.travel/123456/20151231/d19ae032fa0d33bd1fa083aa39a75dc4fd36996b">Boarding Card</a>


