@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.TextBox("deviceIdentifier", "0186b6862761d71766a50b1eeb7df00ccfe48508b11963690297ee1c350f6cb7")
    <input type="submit" />
}